// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss

//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}

/*----------------------------------------
*****~~~~~~ PAGE VDL  ~~~~~~~~~~~~*********
-----LISTE DES VDL - TEMPLATE VUES -----
------------------------------------------*/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/
body .conteneur {

    #colonne-1.vdl-liste{order:1;}
    #colonne-2.vdl-liste{order:2;}
    #colonne-3.vdl-liste{order:3;}
    @include breakpoint ($desktop){
   
    }
}

/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
    @include breakpoint ($desktop){
        #colonne-2.vie-lycee{
            @include border-L-violet;
        }
        }
    
}
/*######-------- ||| STYLE ||| --------######*/
h1.page-liste-vdl{
    color: $violet;
     font-size: x-large;
     line-height: 1.0em;
}
.item-list-activites{
    margin: 0;
}
.item-list-activites h3{
    color: #93117E;
    padding:5px;
    text-align:center;
    font-size: 13px;
}
.item-list-activites a{
    color: black;
    text-decoration: none;
}
.item-list-activites a:hover{
    color: black;
    text-decoration: underline;
}
.item-list-activites ul{
    list-style: none;
}
.item-list-activites li{
    list-style: none;
    background: #EFEFEF;
    padding: 3px;
    margin:0 3px 3px;
}
.item-list-activites .views-field-title a{
    font-weight: bold;
    text-transform: capitalize;
    color: #AEC81F;
}
.view-liste-activites-lycee a.field-content{
    color: red;
}
/*--------------------------------------------
**********************************************
        VUE BLOC VDL ARCHIVES FILTRE EXPOSE
---------------------------------------------*/
#vue-bloc-vdl-archives{
    width: 99%;
    margin: 0 auto;
}
#vue-bloc-vdl-archives table{
    
}
#vue-bloc-vdl-archives tbody{}
#vue-bloc-vdl-archives tr{
    margin:5px 3px;
    display: block;
    background: #EFEFEF;
}
#vue-bloc-vdl-archives td{
    padding: 3px;
}
#vue-bloc-vdl-archives td a{
    font-weight: bold;
    text-transform: capitalize;
    color: #AEC81F;
    text-decoration: none;
}
#vue-bloc-vdl-archives td a:hover{
    color: black;
}
#vue-bloc-vdl-archives{}
/*--------*/
/* FLUX BLOC ACTU ASSO*/
#block-aggregator-feed-1 {
    margin: 5px 0;
    color: #02A7D5;
}
#block-aggregator-feed-1 h3{
   color: #E2017B;
   padding: 2px;
}
#block-aggregator-feed-1 ul li{
    list-style-position: inside;
    list-style-type: square;
   
}
#block-aggregator-feed-1 ul li a{
    text-decoration: none;
    color:#02A7D5;
}
#block-aggregator-feed-1 ul li a:hover{
   color: #E2017B;
}